<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>217999172280-kq6j3625hf6rgacsapd06ttn7gd4736m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217999172280-kq6j3625hf6rgacsapd06ttn7gd4736m</string>
	<key>API_KEY</key>
	<string>AIzaSyC6KT0p7T54ZANd4Aa-9GrNaJU0c6LNwcs</string>
	<key>GCM_SENDER_ID</key>
	<string>217999172280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Chatapp.Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-3ca0d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-3ca0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:217999172280:ios:a4326d7f08aa68b3</string>
	<key>DATABASE_URL</key>
	<string>https://chat-3ca0d.firebaseio.com</string>
</dict>
</plist>
